* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

html, body {
	width: 100%;
	height: 100%;
}

#pop_star {
	position: relative;
	width: 500px;
	height: 100%;
	margin: 0 auto;
	background-image: url("../img/background.png");
	background-size: cover;
	font-size: 0;
	border: 1px solid red;
}

#stage_target, #current_score, #selected_score {
	position: relative;
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	color: white;
	/*background-color: yellowgreen;*/
	/*background-color: greenyellow;*/
	background-size: cover;
	border: 1px solid black;
}

#selected_score {
	opacity: 0;
}